<header class="w-full bg-gradient-to-r from-pink-600 to-purple-800 shadow-md sticky top-0 z-50">
  <div class="flex justify-between items-center px-6 py-4 w-full">
    <a href="/" class="text-2xl font-extrabold text-white">Decisions? Let's Just Pick Randomly 🧐🎲</a>
    <a href="/login" class="px-5 py-2 bg-gradient-to-br from-teal-400 to-lime-500 text-white rounded-lg shadow-md hover:bg-gradient-to-br hover:from-teal-500 hover:to-lime-600 transition-all duration-500 transform hover:scale-110">
      Log In, Maybe? 🤔
    </a>
  </div>
</header>